body{
    background-color: rgba(194, 19, 127, 0.986);
    color:rgb(241, 248, 248);
    font-family: "Edu VIC WA NT Beginner", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
 }

 button{
    background-color:rgb(237, 228, 228);
    color: rgb(18, 1, 1);
    font-family: "Edu VIC WA NT Beginner", cursive;
 }

 .passo {
   display: none;
 }

 .passo.ativo{
   display: block;
 }

 main{
   text-align: center;
   max-width: 90%;
 }

 img{
   max-width: 90%;
 }